@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Protest+Revolution&display=swap');

/* regular selectors */

html {
    width: 1440px;
}

body {
    display: block;
    background-color:  hsl(47, 88%, 63%);
}

p {
    font-size: 16px;
    font-family: "Figtree", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: grey;
}

h3 {
    margin: 3px;
}

h1, h3 {
    font-family: "Figtree", sans-serif;
    font-weight: 800;
}

/* class selectors */

.container {
    background-color: white;
    width: 475px;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    display: block;
    border: black solid 1px;
    box-shadow: 11px 11px 0px -3px black;
}

.image {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.img-1 {
    width: 90%;
    height: auto;
    border-radius: 10px;
}

.img-2 {
    height: 50px;
}

.topic {
    background-color:  hsl(47, 88%, 63%);
    width: 20%;
    height: 30px;
    margin-left: 10px;
    margin-top: 20px;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.info, .topic, .author {
    margin-left: 25px;
    margin-right: 30px;
}

.author {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    gap: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* id selectors */

#publish {
    color: black;
}

#name {
    color: black;
    font-weight: 800;
}
